/* X-Small devices */
@media (max-width: 575px) {
    /* Destroyer Small - ID all containers */
    #divdestroyer {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* Destroyer Small - first container */
    .divbuttondestroyer {
        margin-top: 20px;
        margin-right: 26px;
        color: var(--quinary);
        font-size: 30px;
        text-align: right;
    }

    /* Destroyer Small - secondary container */
    .divpretextdestroyer {
        margin-top: 100px;
        margin-left: 13px;
        width: 80%;
        max-width: 80%;
    }

    .divtextdestroyer {
        position: absolute;
    }

    .textdestroyer {
        border-right: 2px solid var(--secondary);
        color: var(--secondary);
        font-size: 24px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .textdestroyermyname {
        color: var(--quinary);
    }

    .textanimation {
        animation: cursormodify 600ms infinite steps(40) normal, texthello 2s steps(40) 1s normal both;
    }

    @keyframes cursormodify {
        from {
            border-right-color: var(--quinary);
        }

        to {
            border-right-color: transparent;
        }
    }

    @keyframes texthello {
        from {
            width: 0;
        }

        to {
            width: 345px;
        }
    }
}

/* Small devices */
@media (min-width: 576px) {
    .paragraphcontentsmall {
        width: 86% !important;
        max-width: 86%;
        margin-left: auto;
        margin-right: auto;
    }


    /* Destroyer Small - ID all containers */
    #divdestroyer {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* Destroyer Small - first container */
    .divbuttondestroyer {
        margin-top: 20px;
        margin-right: 26px;
        color: var(--quinary);
        font-size: 30px;
        text-align: right;
    }

    /* Destroyer Small - secondary container */
    .divpretextdestroyer {
        margin-top: 100px;
        margin-left: 13px;
        width: 80%;
        max-width: 80%;
    }

    .divtextdestroyer {
        position: absolute;
    }

    .textdestroyer {
        border-right: 2px solid var(--secondary);
        color: var(--secondary);
        font-size: 24px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .textdestroyermyname {
        color: var(--quinary);
    }

    .textanimation {
        animation: cursormodify 600ms infinite steps(40) normal, texthello 2s steps(40) 1s normal both;
    }

    @keyframes cursormodify {
        from {
            border-right-color: var(--quinary);
        }
        to {
            border-right-color: transparent;
        }
    }

    @keyframes texthello {
        from {
            width: 0;
        }
        to {
            width: 345px;
        }
    }
}

/* Medium devices */
@media (min-width: 768px) {
    /* Destroyer Small - ID all containers */
    #divdestroyer {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* Destroyer Small - first container */
    .divbuttondestroyer {
        margin-top: 20px;
        margin-right: 26px;
        color: var(--quinary);
        font-size: 30px;
        text-align: right;
    }

    /* Destroyer Small - secondary container */
    .divpretextdestroyer {
        margin-top: 100px;
        margin-left: 13px;
        width: 80%;
        max-width: 80%;
    }

    .divtextdestroyer {
        position: absolute;
    }

    .textdestroyer {
        border-right: 2px solid var(--secondary);
        color: var(--secondary);
        font-size: 24px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .textdestroyermyname {
        color: var(--quinary);
    }

    .textanimation {
        animation: cursormodify 600ms infinite steps(40) normal, texthello 2s steps(40) 1s normal both;
    }

    @keyframes cursormodify {
        from {
            border-right-color: var(--quinary);
        }
        to {
            border-right-color: transparent;
        }
    }

    @keyframes texthello {
        from {
            width: 0;
        }
        to {
            width: 345px;
        }
    }
}

/* Large devices */
@media (min-width: 992px) {
    .landingbuttonPage:hover {
        color: var(--primary);
    }

    /* Destroyer Small - ID all containers */
    #divdestroyer {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* Destroyer Small - first container */
    .divbuttondestroyer {
        margin-top: 20px;
        margin-right: 26px;
        color: var(--quinary);
        font-size: 30px;
        text-align: right;
    }

    /* Destroyer Small - secondary container */
    .divpretextdestroyer {
        margin-top: 100px;
        margin-left: 13px;
        width: 80%;
        max-width: 80%;
    }

    .divtextdestroyer {
        position: absolute;
    }

    .textdestroyer {
        border-right: 2px solid var(--secondary);
        color: var(--secondary);
        font-size: 24px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .textdestroyermyname {
        color: var(--quinary);
    }

    .textanimation {
        animation: cursormodify 600ms infinite steps(40) normal, texthello 2s steps(40) 1s normal both;
    }

    @keyframes cursormodify {
        from {
            border-right-color: var(--quinary);
        }
        to {
            border-right-color: transparent;
        }
    }

    @keyframes texthello {
        from {
            width: 0;
        }
        to {
            width: 345px;
        }
    }
}

/* X-Large devices */
@media (min-width: 1200px) {
    .landingbuttonPage:hover {
        color: var(--primary);
    }

    /* section for Compound Front */
    .jsbaseCompoundcalc {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 320px;
        border-radius: 8px;
        background-color: var(--primary);
        color: var(--quinary);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .jsinputCompoundcalc {
        background-color: var(--tertiary);
        border: 1px solid var(--secondary);
        box-sizing: border-box;
        border-radius: 4px;
        color: var(--quinary);
    }

    .jsinputCompoundcalc:hover {
        box-shadow: var(--secondary) 0px 0px 8px 0px;
    }

    .jsinputCompoundcalc:active {
        box-shadow: white 0px 0px 8px 0px;
    }

    .jsinputCompoundcalc:focus {
        box-shadow: white 0px 0px 8px 0px;
        outline: 0;
    }

    .jstextformCompoundcalc {
        width: 170px;
        max-width: 170px;
    }

    .jstextformCompoundcalcSecondary {
        margin-left: 5px;
    }

    .jsmarginleft {
        margin-left: 5%;
    }

    .jsresultShowCompoundcalc {
        width: 95%;
        overflow: hidden;
        word-wrap: break-word;
        margin: auto;
        border: 1px solid var(--secondary);
        border-radius: 8px;
        height: 48px;
        max-height: 48px;
    }

    .jsresultShowContentCompoundcalc {
        width: 90%;
        margin-top: 11px !important;
        overflow: hidden;
        word-wrap: break-word;
        margin: auto;
    }


    /* Destroyer - first container */
    .divbuttondestroyer {
        margin-top: 20px;
        margin-right: 26px;
        color: var(--quinary);
        font-size: 30px;
        text-align: right;
    }

    /* Destroyer - secondary container */
    .divpretextdestroyer {
        margin-top: 183px;
        margin-left: 113px;
        width: 80%;
        max-width: 80%;
    }

    .divtextdestroyer {
        position: absolute;
    }

    .textdestroyer {
        border-right: 2px solid var(--secondary);
        color: var(--secondary);
        font-size: 45px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .textdestroyer:hover {
        color: var(--quinary);
    }

    .textdestroyermyname {
        color: var(--quinary);
    }

    .textdestroyermyname:hover {
        color: var(--secondary);
    }

    .textanimation {
        animation: cursormodify 600ms infinite steps(40) normal, texthello 2s steps(40) 1s normal both;
    }

    @keyframes cursormodify {
        from {
            border-right-color: var(--quinary);
        }
        to {
            border-right-color: transparent;
        }
    }

    @keyframes texthello {
        from {
            width: 0;
        }
        to {
            width: 653px;
        }
    }
}

/* XX-Large devices */
/* @media (min-width: 1400px) { 

} */