a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--quinary);
    background-color:  var(--quinary);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.lightScroll::-webkit-scrollbar-track-piece {
    background-color:  var(--quinary);
}

.darkScroll::-webkit-scrollbar-track-piece {
    background-color: var(--tertiary);
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: var(--primary);
}

.allcenter {
    text-align: center;
}

.allleft {
    text-align: left;
}

.allright {
    text-align: right;
}

.alljustify {
    text-align: justify;
}

.displaySingle {
    display: inline-block;
}

.displayBlock {
    display: block;
}

.removedecoration {
    text-decoration: none;
}

.marginauto {
    margin: auto;
}

.marginleft {
    margin-left: 20px;
}

.marginsmallpage {
    margin-bottom: 160px;
}

.margintopdefault {
    margin-top: 10px;
}

.marginbottomdefault {
    margin-bottom: 10px;
}

.margintitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textwhite {
    color: var(--quinary);
}

.textwhite:hover {
    color: var(--quinary);
}

.cursorpointer {
    cursor: pointer;
}

.imageOpacity {
    opacity: 0% !important;
    background: var(--quinary);
}

.opacitynull {
    opacity: 0% !important;
    width: 0px;
    max-width: 0px;
    height: 0px;
    max-height: 0px; 
}

.bordercompletewidth {
    border: 1px solid var(--tertiary);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bordercompletewidthLight {
    border: 1px solid  var(--quinary);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contentwithoutselection {
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none; 
}

/* for header, footer and landing page */
.landing-header {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    max-width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: var(--primary);
    border-radius: 8px;
    color: var(--quinary);
    text-align: center;
    transition: height 1.3s, width 1.3s, font-size 1.3s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.landing-header:hover {
    height: 65px;
    font-size: 18px;
    transition: height 1.3s, width 1.3s, font-size 1.3s;
    color: var(--quinary);
}

.landing-headercontent {
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none;  
    text-decoration: none; 
    color: var(--quinary);
}

.landing-headercontent:hover {
    color: var(--secondary);
    text-decoration: none; 
}

.landing-headericons {
    margin-right: 5px;
}

#div-aboutMe:hover {
    color: var(--quinary);
}

.divdestroyerDisplay {
    display: none;
}

.divdestroyerDisplayblock {
    display: block;
}

.landing-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95% !important;
    max-width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary);
    border-radius: 8px;
    color: var(--quinary);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.landing-footer:hover {
    color: var(--quinary);
    top: -1px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 30px, rgba(0, 0, 0, 0.23) 0px 12px 12px;
}

#landingbuttonsTheme {
    cursor: pointer;
    text-decoration: none;
}

.footerContent {
    margin-left: 8px;
    color: var(--quinary);
    font-size: 13px;
}

.footerContent:hover {
    color: #a9ffff;
}

.footerTitle {
    margin-top: 6px;
    margin-bottom: 6px;
}

.imagesbodylanding {
    max-width: 70%; 
    width: 70%;
    max-height: 48%;
    height: 48%;
    margin-bottom: 10px;
    text-decoration: none;
}

.imagesbodylandingSecondary {
    max-width: 70%; 
    width: 70%;
    max-height: 48%;
    height: 48%;
    margin-bottom: 10px;
    text-decoration: none;
}

.imageangle {
    -webkit-transform: skew(-1deg);
    -ms-transform: skew(-1deg); 
    transform: skew(-1deg);
    animation-name: angle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition: 3s;
}

.imageangle:hover {
    -webkit-transform: scale(1.03) !important;
    -ms-transform: scale(1.03) !important;
    transform: scale(1.03) !important;
}

@keyframes angle {
    25% {-webkit-transform: skew(1deg);
        -ms-transform: skew(1deg); 
        transform: skew(1deg);}
}

/* LED padrão */
.ledonimageLeft {
    top: -35px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #8695d3;
    width: 6px;
    max-width: 6px;
    height: 70px;
    max-height: 70px;
    animation-name: led;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    box-shadow: 0px 0px 22px #8695d3;
    position: relative;
}

@keyframes led {
    25% {background-color: var(--secondary); box-shadow: 0px 0px 22px var(--secondary); top: 85px;};
}

.ledonimageRight {
    top: 85px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--secondary);
    width: 6px;
    max-width: 6px;
    height: 70px;
    max-height: 70px;
    animation-duration: 6s;
    animation-name: ledright;
    animation-iteration-count: infinite;
    border-radius: 10px;
    box-shadow: 0px 0px 22px var(--secondary);
    position: relative;
}

@keyframes ledright {
    25% {background-color: #8695d3; box-shadow: 0px 0px 22px #8695d3; top: -35px;};
}

#bodylandingContent {
    transition: height  1.3s, width  1.3s, font-size 1.3s;
    text-align: center;
}

#bodylandingsecondaryContent {
    transition: height  1.3s, width  1.3s, font-size 1.3s;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: 1.3s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  var(--quinary);
    display: block;
    transition: 1.3s;
}

.sidebar a:hover {
    color:  var(--quinary);
}

.sidebar-myname {
    margin-top: 20px;
    font-size: 15px !important;
}

.sidebar-mycontent {
    font-size: 13px !important;
}

.sidebarImage {
    height: 550px;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 1.3s;
}

.mypicture {
    width: 100%;
    max-width: 100%;
    height: 40%;
    max-height: 40%;
    position: absolute;
}

.titleMenubar {
    color: var(--quinary);
    font-size: 14px;
}

.titleMenubar:hover {
    color: #a9ffff;
}

.landingbuttonPage {
    color: var(--senary);
}

.landingbuttonPage:hover {
    color: var(--primary);
}

/* for theme */
.darkTheme {
    color: var(--quinary);
}

.darkTheme:hover {
    color: var(--primary);
}

.darkThemeclean {
    color: var(--quinary);
}

.textDark {
    color: var(--senary);
}

/*  */
.boxcontainerCalculator {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 38%; 
    height: 350;
    background-color: var(--primary);
    color: var(--quinary);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   
}

.boxcontainerCalculator-input {
    background-color: var(--tertiary);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--quinary);
}

.boxcontainerCalculator-input:hover {
    box-shadow: var(--secondary) 0px 0px 8px 0px;
}

.boxcontainerCalculator-input:active {
    box-shadow: white 0px 0px 8px 0px;
}

.boxcontainerCalculator-input:focus {
    box-shadow: white 0px 0px 8px 0px;
    outline: 0;
}

/* buttons */
.btn-average-calc {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    margin: 1px;
    background-color: var(--tertiary);
    color: var(--quinary);
    border: 1px solid var(--senary);
    border-radius: 8px;
    font-size: 17px;
}

.btn-average-calc:hover {
    background-color: var(--quaternary);
}

.btn-average-calc:active {
    background-color: var(--secondary);
}

.btn-average-calc:focus {
    background-color: var(--quaternary);
    outline: 0;
}

.btn-average-calcforDelete {
    background-color: rgb(190, 20, 20);
    border: 1px solid rgb(158, 15, 15);
}

.btn-average-calcforDelete:hover{
    background-color: rgb(207, 23, 23);
}

.btn-average-calcforDelete:active {
    background-color: var(--secondary);
}

.btn-average-calcforDelete:focus {
    background-color: rgb(207, 23, 23);
    outline: 0;
}

.btn-big-calcforEnter {
    width: 162px;
    max-width: 162px;
    height: 50px;
    max-height: 50px;
    margin: 1px;
    background-color: #0d9843;
    color: var(--quinary);
    border: 1px solid #0c8b3d;
    border-radius: 8px;
    font-size: 17px;
}

.btn-big-calcforEnter:hover {
    background-color: rgb(17, 183, 81);
}

.btn-big-calcforEnter:active {
    background-color: var(--secondary);
}

.btn-big-calcforEnter:focus {
    background-color: rgb(17, 183, 81);
    outline: 0;
}

.btn-icon {
    background: transparent;
    outline: 0;
    border: 0px;
}

.btn-destroyer {
    background: transparent;
    outline: 0;
    border: 0px;
}

.btn-destroyer:hover {
    color: var(--secondary);
}

.btn-destroyer:focus {
    outline: 0;
    border: 0px;
}

.btn-default {
    color: var(--quinary);
    border: 1px var(--primary);
    border-radius: 3px;
    background-color: var(--primary);
    width: 150px;
    max-width: 150px;
    height: 40px;
    max-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-default:hover {
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.btn-default:active {
    box-shadow: var(--secondary) 0px 0px 15px;
    outline: 0;
}

.btn-default:focus {
    box-shadow: var(--secondary) 0px 0px 15px;
    outline: 0;
}

.btn-darkdefault {
    color: var(--quinary);
    border: 1px solid var(--secondary);
    border-radius: 3px;
    background-color: var(--tertiary);
    width: 150px;
    max-width: 150px;
    height: 40px;
    max-height: 40px;
}

.btn-darkdefault:hover {
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.btn-darkdefault:active {
    box-shadow: var(--secondary) 0px 0px 15px;
    outline: 0;
}

.btn-darkdefault:focus {
    box-shadow: var(--secondary) 0px 0px 15px;
    outline: 0;
}

.btn-copy {
    color: var(--secondary);
}

.btn-copy:hover {
    color: var(--primary);
    -webkit-filter: drop-shadow(0 1px 5px var(--primary));
    filter: drop-shadow(0 1px 5px var(--primary));
}

.btn-copy:active {
    color: var(--quinary);
    -webkit-filter: drop-shadow(0 1px 5px white);
    filter: drop-shadow(0 1px 5px white);
}

.selectedButton {
    color: #a9ffff;
    cursor: default;
}

/* for page full text */
.paragraphcontentsmall {
    width: 86% !important;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
}

/*  */
.inputemail {
    background-color: var(--quinary);
    border: 1px solid #515960;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 5px;
}

.inputemail::placeholder {
    color: var(--tertiary);
}

.inputemail:hover {
    border: 1px solid var(--tertiary);
}

.inputemaildark {
    background-color: var(--tertiary);
    border: 1px solid var(--quinary);
    color: var(--quinary);
}

.inputemaildark::placeholder {
    color: rgb(192, 192, 192);
}

.inputemaildark:hover {
    border: 1px solid rgb(192, 192, 192);
}

.inputcontentsmall {
    width: 60%;
    max-width: 60%;
}

.textform {
    width: 90px;
    max-width: 90px;
}